common --enable_bzlmod
common --experimental_isolated_extension_usages
common --repo_env=GIT_CONFIG_GLOBAL=/dev/null
common --repo_env=IXYK_NIX_LIBSTDCXX_ROOT
common --repo_env=IXYK_NIX_XED_ROOT
common --repo_env=IXYK_NIX_PYTHON_RUNTIME

build --incompatible_strict_action_env
build --spawn_strategy=sandboxed

build:reapi --config=reapi-common
build:reapi --platforms=//tools:reapi_linux_x86_64
build:reapi --extra_execution_platforms=//tools:reapi_linux_x86_64
build:reapi-local --config=reapi-common
build:reapi-local --platforms=//tools:local_reapi_linux_x86_64
build:reapi-local --extra_execution_platforms=//tools:local_reapi_linux_x86_64

build:reapi-common --build_python_zip=false
build:reapi-common --spawn_strategy=remote
build:reapi-common --strategy=CopyFile=local
build:reapi-common --remote_local_fallback=false
build:reapi-common --remote_download_outputs=toplevel
build:reapi-common --jobs=48

try-import %workspace%/.bazelrc.local
